.headline p {
  margin-top: 80px;
  font-size: 18px;
  color: #555555;
  text-align: center;
}

#issuer-table {
  width: 100%
}

#issuer-table td {
  text-align: center;
}

#issuer-table .issuer {
  display: block;
  vertical-align: middle;
}

.query {
  margin-top: 30px;
}

#query-inner {
  width: 100%;
  /*border: 3px double #feec41;*/
  /*background: #fffef7;*/
  padding: 25px 50px 25px 50px;
}

#query-inner .category {
  display: inline-block;
  width: 110px;
}

.query {
  margin-top: 30px;
  margin-bottom: 100px;
}

#query-inner hr.divider {
  border-top: 1.5px dashed #95989F;
  width: 100%;
}

#query-inner #keywords-form {
  width: 100%;
  text-align: center;
}

#query-inner #submit {
  margin-top: 30px;
  border-radius: 30px;
  border-color: rgb(254,240,57);
}

#query-inner #submit:hover {

}

.arrow_box {
  position: relative;
  background: #fffef7;
  border: 4px solid #feec41;
}
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 254, 247, 0);
  border-bottom-color: #fffef7;
  border-width: 30px;
  margin-left: -30px;
}
.arrow_box:before {
  border-color: rgba(254, 236, 65, 0);
  border-bottom-color: #feec41;
  border-width: 36px;
  margin-left: -36px;
}

.arrow_box {
  display: none;
}

.arrow_box.engineer-query, .arrow_box.designer-query {
  display: block;
}

.arrow_box.designer-query:after, .arrow_box.designer-query:before {
  left: 12%;
}

.arrow_box.engineer-query:after, .arrow_box.engineer-query:before {
  left: 63%;
}