.card {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.list {
}
.update {

}
.data {
    background-color: #fff9c4;
}
.card > .card-header {
    background-color: #fff9c4;
}

.card h2 a {
    text-decoration: none;
    color: #555555;
}
.card h2 a:link {  color: #555555;  }
.card h2 a:hover {  color: #555555;  }
.card h2 a:active {  color: #555555;  }